<% if @update &&  user_signed_in? %>
<div class="row-fluid">
  <div class="span12 updates-homepage">
<h3> An Update From The Board...</h3>
<h4><%= @update.title %></h4>
<p>



 <%= simple_format(@update.content.truncate(200, :omission => "...(#{link_to('Read More', @update, class: 'update_link')})")) %>
</p>
 
</div>
</div>
<% end %>


<div class="hero-unit">

    <h1 class="center">Welcome</h1>
    <br />
    <p>Welcome to the official Saint Lukes Lofts homeowners association website.  We hope this becomes a beneficial tool for you to use to stay current with all matters pertaining to Saint Lukes Lofts.  Here you will find all of the governing documents, board meeting minutes, board contact information, and a schedule of upcoming events.</p>
    <br />
    <% if !user_signed_in? %>
      <p class="center"> Please register to continue.
      <%= link_to "Register", new_user_registration_path, :class => "btn btn-primary btn-large" %>
      </p>
    <% end %>

</div>
