<div id="home">

    <div id="myCarousel" data-interval="5000" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
        <div class="active item"><%= image_tag('denver.jpeg') %>
    	    <div class="carousel-caption">
    	        <h4>The Official Site of Denver's Downtown Luxorious Lofts</h4>
    	        <p>Welcome to the official page of the Saint Lukes Lofts Homeowners Association.  Your place for residents to find all the information they need, and maybe some they didnt.</p>
    	    </div>
    	</div>
        <div class="item"><%= image_tag('nelson1.jpeg') %>
            <div class="carousel-caption">
                <h4>DON'T MESS WITH THE MOHAWK</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
        </div>
    	<div class="item"><%= image_tag('nelson2.jpeg') %>
        	<div class="carousel-caption">
            	<h4>Going For A Ride</h4>
            	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        	</div>
        </div>
    	<div class="item"><%= image_tag('nelson3.jpeg') %>
        	<div class="carousel-caption">
            	<h4>Pooped</h4>
            	<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        	</div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>