<%= provide(:title, "Issues and Concerns") %>
<div class="issues-concerns">
	<h3 class="center"> Report an Issue or Concern</h3>
	<p>To report any issues or concerns regarding the Saint Lukes Lofts, please contact <b>Beth Amore</b> or <b>Katie Malinsky</b> at <b>(303) 595-8710</b>.</p>
	<br />
	<p><b>EMERGENCIES OF FIRE, SAFETY AND SECURITY NEED TO BE CALLED INTO THE 911 EMERGENCY RESPONSE NUMBER FOR THE DENVER FIRE & POLICE DEPARTMENTS</b></p>
	<br />
	<p>To report after hour <b>EMERGENCIES OF AN URGENT BUILDING MAINTENANCE MATTER</b> please call <b>(303) 595-8710 extension 1.</b>  Leave a detailed message regarding the nature of the emergency and a call back number, and our <b>ON CALL</b> engineer will respond as soon as possible.</p>
</div>