<%= provide(:title, "Location") %>
<div class="location">
	<div class="span6">
		<iframe width="300" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=1860+Washington+Street,+Denver,+CO&amp;sll=39.745620,-104.978420&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=1860+Washington+St,+Denver,+Colorado+80203&amp;ll=39.74562,-104.97842&amp;spn=0.00848,0.021136&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=1860+Washington+Street,+Denver,+CO&amp;sll=39.745620,-104.978420&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=1860+Washington+St,+Denver,+Colorado+80203&amp;ll=39.74562,-104.97842&amp;spn=0.00848,0.021136&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
	<div class="span6">

	<p>
		<iframe  height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=1860+Washington+Street,+Denver,+CO&amp;layer=c&amp;sll=39.745620,-104.978420&amp;cbp=13,91.96,,0,-7.73&amp;cbll=39.745645,-104.978735&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=1860+Washington+St,+Denver,+Colorado+80203&amp;t=m&amp;panoid=yPTAD_JAxkkFveDN6lsgMA&amp;ll=39.737092,-104.973292&amp;spn=0.015841,0.036478&amp;z=14&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="http://maps.google.com/maps?q=1860+Washington+Street,+Denver,+CO&amp;layer=c&amp;sll=39.745620,-104.978420&amp;cbp=13,91.96,,0,-7.73&amp;cbll=39.745645,-104.978735&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=1860+Washington+St,+Denver,+Colorado+80203&amp;t=m&amp;panoid=yPTAD_JAxkkFveDN6lsgMA&amp;ll=39.737092,-104.973292&amp;spn=0.015841,0.036478&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</p>
		<div id="address">
			<p>1860 Washington St.</p>
			<p>Denver, CO 80203 </p>
		</div>
	</div>
</div>