<%= provide(:title, "Board of Directors") %>
<div class="board"><h3 class="center">Board of Directors</h3>
	<% @board_member.each do |person| %>
		<h4 class="underline"><%= person.position %></h4>
		<p>
			<%= person.name %><br />
			<%= mail_to(person.email) %></p>
		<% end %>

</div>