@import 'universal_css';

body {  
  background-color: red;
  min-height: 800px;
  padding-top: 1%;
@include filter-gradient($outside_color: #666666, $middle_color: lighten(#666666, 50%));
  background-repeat: repeat;
}

.container {
  background-color: lighten (#666666, 50%);
  background-image: none;
   background-size: cover;
}

#user_nav{
  float: right;
  padding-right: 10%;
  margin-bottom: .5%;
  a {
    color: $maroon;
  }
}

#main-image{
  float: right;
  h1 {
    position: relative;
    height: 200px;
    width: 940px;
    overflow: hidden;
    margin: auto;
    span {
                  position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(banner.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
  }
}
.left-side-bar, .right-side-bar {
  background-color: #4C4C4C;
  margin: 5% 0 2% 0;
  padding: .5%;
  border: 1px solid #422121;
  h3 {
    color: white;
    line-height: 30px;
    margin: 2% 0;
    border-bottom: 1px dashed $maroon;
  }
  .span12, .span6 {
    margin-left: 0;
    background-color: #B3B3B3;
    text-align: center;
  }
  #admin-link{
    h3 {
      border: none;
      color: $maroon;
    }
  }
}
.span7 {
  .alert {
    border: none;
    background-color: white;
    color: white;
  }
}

.form-layout {
  color: $maroon;
  margin: 8% 0;
  padding: 5%;
  border: 1px solid $maroon;
  background-color: $light-grey !important;
  h2 {
    color: $maroon;
    text-align: center;
  }
  input[type="submit"] {
    padding: 1%;
  }
}

.upcoming-events {
  font-size: 1em;
  border-bottom: 1px dashed $maroon;
  margin-bottom: 2%;
}

.calendar-event{
    color: $maroon;
  margin: 8% 0;
  padding: 5%;
  border: 1px solid $maroon;
  background-color: $light-grey !important;
}