@import 'universal_css';

.document-index {
	padding: 5%; 
	.span6 {
		margin-top: 5%;
		background-color: inherit;
		padding: .7%;
		border-radius: 10px;
	}
	.span12 {  
		background-color: $light-grey;
		margin: 0 0 40px;
		padding: .5%;
		border: 10px solid #4c4c4c;
		margin-left: 0 !important;
		border-radius: 10px;
	}
	h3 {
		color: $maroon;
		text-align: center
	}
	p {
		border-radius:2px;
	    background-color: lighten($light-grey, 10%);
	    color: $maroon;
	    font-size: 1.2em;
	    margin-bottom: 5%;
	    margin-left: 2%;
	    margin-right: 2%;
	    padding: 1%;
	}
	.minutes {
		font-size: .9em;
	}
	a {
		color: $maroon !important;
	}
	a:hover {
		color: lighten($maroon, 10%) !important;
		background-color: #cccccc !important;
	}
}

