@import 'universal_css';


.title {
	h2 {
		margin-top: -3%;
	}
	h3 {
		margin-top: -3%;
	}
}


#home{
	.span4 {
		padding: .5%;
		background-color: light-grey;
	}
}
.location, .contact-us, .hero-unit, .board, .issues-concerns {
	text-align: center;
	min-height: 265px;
  background-color: white !important;
  margin: 2% 0%;
  padding: .5%;
  border: 1px solid $maroon;
  border-radius:10px;
}

.contact-us {
	min-height: 450px;
	color: $maroon;
	margin: 8% 0;
	padding: 2% 5%;
	border: 1px solid $maroon;
	border-radius: 10px;
	li {
		list-style: none;
		width: 100%;
		height: 40px;
	}
	label, input {
		float: left;
	}
	label {
		width: 10%;
		float: left;
		text-align: right;
	}
	input {
		margin-left: 2%;
	}
	#contact_us_contact_message{
		width: 84%;
		height: 400%;
	}
	.commit {
 	clear: both;
    position: relative;
    text-align: center;
    top: 150px;
    left: 380px
    }
}

.location {
	height: 400px;
	.span6 {
		padding: 2%;
		overflow: hidden;
	}
	#address {
		margin-top: 10%;
		p {
			font-size: 20px;
			color: $maroon;
			margin-top: 1%;
		}
	}
}

.hero-unit {
  text-align: justify;
  background-color: white !important;
  margin: 2% 0%;
  padding: 2% !important;
  border: 1px solid $maroon;
  border-radius:10px;
  .btn-primary {
    background-color: $maroon;
    background-image: none;
    background-repeat: repeat-x;
    border-color: $light-grey;
    color: $light-grey !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.btn-primary:hover{
		background-color: $light-grey;
		color: $maroon !important;
	}
}

.board{
	text-align: left;
	padding-left: 2%;
	padding-bottom: 2%;
	h3 {
		color: $maroon;
	}
	h4 {
		margin: 12px 0 0;
	}
	p {
		line-height: 14px;
	}
}

.issues-concerns {
	padding: 0 5% 5%;
	text-align: justify;
	h3{
		margin-bottom: 5%;
		color: $maroon;
	}

}