<footer>
	<div class="row-fluid">
		<div class="span4">
	<h5>Saint Lukes Lofts</h5> 1860 Washington St - Denver, CO 80203
		</div>
		<div class="span4"></div>
		<div class="span4" id="developer">
			Site Developed By <%= mail_to("sethb78@gmail.com", "Seth B. Altshuler") %>
		</div>
</footer>