<!DOCTYPE html>
<html>
<head>
  <title>Hoa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
          <div class="container">

  		<div class="row-fluid banner">

  				<div id="main-image"><h1><span></span>Saint Lukes Lofts</h1></div>
 
  		</div>


</div>
</body>
</html>
